body {
  font-size: 18px;
  /* background: #9eadc8; */
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

p {
  text-align: justify;
}

.main {
  margin: 0 10%;
  margin-top: 25px;
  /* background: white; */
  /* background: #c0cce2; */
  /* background: #d0dcf1; */
  padding: 0 25px 5px 25px;
  /* border: 2px solid; */
  border-radius: 1%;
  min-height: 820px;
}

footer {
  background: #832161;
  border-top: 5px solid #5f1043;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.me img {
  border-radius: 50%;
  width: 100px;
  margin-right: 15px;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin: 40px auto 0px; */
  /* padding: 20px 50px; */
  margin: 40px 0;
  /* margin-bottom: 100px; */
}

.me h2 {
  text-align: center;
}

header {
  background: #832161;
  border-bottom: 5px solid #5f1043;
}

header ul {
  list-style-type: none;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
  height: 80px;
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

h1,
h2,
h3 {
  color: #832161;
}

.tech {
  /* margin: 0 20%; */
}

.tech ul {
  list-style-type: none;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  padding: 0;
  margin: 0;
}

.tech li {
  margin: 0.6rem 0;
}

.tech h2 {
  margin: 5px 0;
}

.project-card {
  list-style-type: none;
  border: solid black 1px;
  background: white;
}

.project-card a {
  margin: 0 15px 0 0;
}

.project-card img,
.full-project img,
.project-card {
  width: 300px;
}

.project-card img {
  border-bottom: 1px solid black;
}

.full-project img {
  width: 300px;
}

.projects ul {
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  justify-content: center;
  flex-wrap: wrap;
}

.projects li {
  display: inline-block;
}

.project-card section {
  display: flex;
  justify-content: space-evenly;
}

.project-card section p {
  margin: 0;
}

.project-card a {
  text-decoration: none;
}

.project-card p {
  margin: 16px 15px 0 15px;
  text-align: justify;
  font-size: 1.01rem;
}

.project-card a:hover h3 {
  text-decoration: underline;
}

a {
  color: #0000ee;
}

.project-card-link {
  color: black;
}

.project-card {
  height: 318px;
  margin: 0 12.5px 25px;
}

.full-project .body {
    text-align: center;
  }

.full-project ul {
  list-style-type: none;
}

.full-project ul li:before {
  content: "\2023";
  position: absolute;
  margin-left: -20px;
}

.full-project h1 {
  text-align: center;
}

.full-project img {
  display: block;
  margin: 0 auto;
}

.project-info {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a {
  margin-right: 50px;
}

.form-row {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

.form-row label {
  padding-right: 10px;
  flex: 3;
}

.form-row input,
.form-row textarea {
  font-size: 14pt;
  padding: 3px;
  /* flex: 17; */
  width: 450px;
}

.form-row textarea {
  height: 100px;
}

#contact {
  max-width: 550px;
  margin: 40px auto 0 auto;
}

.form-submit-row {
  display: flex;
  justify-content: center;
}

.form-submit-row input {
  padding: 5px 20px;
  font-size: 14pt;
  margin-left: 90px;
}

@media only screen and (max-width: 1300px) {
  .main {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    /* margin: 0 2%; */
    margin: 0 10px;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  .icons a {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .project-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-row input,
  .form-row textarea {
    font-size: 14pt;
    padding: 3px;
    /* flex: 17; */
    width: 210px;
  }
}

@media only screen and (max-width: 420px) {
  .full-project .body {
    text-align: justify;
  }
}
